<header>
    <p-toolbar>
        <ng-template pTemplate="start">
            <h1>{{ hotel()?.name }}</h1>
        </ng-template>

        @if (user()?.role === Roles.AGENT) {        
            <ng-template pTemplate="end">
                <div class="flex gap-4">
                    <p-selectButton (onChange)="changeStatus($event.value)"
                                    [ngModel]="hotel()?.active"
                                    [options]="HotelStatusOptions"
                                    [allowEmpty]="false"
                                    optionLabel="label"
                                    optionValue="value"/>
            
                    <p-button type="button"
                              label="Editar"
                              icon="pi pi-pencil"
                              routerLink="../edit/{{id}}"
                              severity="success"/>
                </div>
            </ng-template>
        }
    </p-toolbar>    
</header>

<section class="grid mt-3">
    <div class="col text-center">
        <img [src]="hotel()?.img_url"
             [alt]="hotel()?.id+'-'+hotel()?.name"
             height="350px"
             class="border-round">
    </div>

    <div class="col">
        <ul class="list-none p-0">
            <li class="mb-6">
                <div class="flex gap-2 mb-2">
                    <i class="pi pi-map-marker text-primary"></i>
                    <label class="font-bold">Ubicación: </label>
                </div>
                <span class="ml-4">{{ hotel()?.location }}</span>
            </li>
            <li>
                <div class="flex gap-2 mb-2">
                    <i class="pi pi-verified text-primary"></i>
                    <label class="font-bold">Calificación: </label>
                </div>
                <p-rating class="ml-4" [ngModel]="hotel()?.score" [readonly]="true" [cancel]="false"/>
            </li>
        </ul>
        
        <div class="flex flex-column gap-2 services mt-6 ml-4">
            <label class="font-bold">Servicios:</label>
            <div class="flex flex-wrap gap-1">
                @for (service of hotel()?.services; track $index) {
                    <p-chip [label]="service" styleClass="bg-primary"/>
                }
            </div>
        </div>
    </div>
</section>

<section class="mt-3">
    <p-panel header="Descripción" [toggleable]="true" [collapsed]="user()?.role === Roles.USER">
        <p class="text-justify">{{ hotel()?.description }}</p>
    </p-panel>
</section>

<section class="mt-3 grid gap-3">
    @for(room of hotel()?.rooms; track $index) {
        <p-panel class="col">
            <ng-template pTemplate="header">
                <div class="flex align-items-center justify-content-between w-full gap-3">
                    <h2>Habitación {{ room.kind | RoomType }}</h2>
                    <h3 class="text-green-700">$ {{ room.cost | number }}</h3>
                </div>
            </ng-template>

            <div class="flex align-items-center gap-2 mb-4 text-lg">
                <i class="pi pi-money-bill text-primary"></i>
                <label class="font-bold">Impuestos: </label>
                <span>{{ room.taxes }}%</span>
            </div>
            
            <div class="flex align-items-center gap-2 mb-4 text-lg">
                <i class="pi pi-map-marker text-primary"></i>
                <label class="font-bold">Ubicación: </label>
                <span>{{ room.location }}</span>
            </div>

            <div>
                <div class="flex align-items-center gap-2 mb-2 text-lg">
                    <i class="pi pi-comment text-primary"></i>
                    <label class="font-bold">Descripción: </label>
                </div>
                <p class="text-justify">{{ room.description }}</p>
            </div>
            
            @if(user()?.role === Roles.USER) {
                <ng-template pTemplate="footer">
                    <div class="w-full flex justify-content-center">
                        <p-button class="w-full"
                                styleClass="w-full"
                                label="Seleccionar"
                                icon="pi pi-bookmark"
                                [outlined]="true"
                                queryParamsHandling="merge"
                                routerLink="/bookings/add/{{hotel()?.id}}/{{room.kind}}"/>
                    </div>
                </ng-template>
            }
        </p-panel>
    }
</section>
