
body {
    height: 100vh;
    height: 100svh;

    main {
        height: 100%;
        overflow-x: hidden;
        height: calc(100svh - 62.2px - (0.5rem * 2));
    }
}

.logo {
    height: 32px;
    padding: 0.5rem;
}